footer{
    background-color: #272e31;
    color: rgba(255, 255, 255, .6);
    
}
a:link,:visited{
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}

li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;

}
a{
    line-height: 1.7142857143;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    list-style-type: none;
    
}
h3{
    margin-left: 35px;
}